<div class="row p-3">
    <div class="card">
        <div class="card-header">
            <p>Liste des clients</p>
            <div class="search-input">
                <input type="text" placeholder="Rechercher">
                <i class="bi bi-search"></i>
            </div>
            <button class="btn btn-outline-info">Ajouter <i class="bi bi-person-add"></i> </button>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>FisrtName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Phone</th>
                    <th>Job</th>
                    <th>Actions</th>
                </tr>
            </table>
        </div>
    </div>
</div>
