<div class="row p-3">
    <div class="card">
        <div class="card-header">
            <p>Liste des clients</p>
            <div class="search-input">
                <input type="text" placeholder="Rechercher">
                <i class="bi bi-search"></i>
            </div>
            <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter <i class="bi bi-person-add"></i> </button>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">FisrtName</th>
                    <th class="text-center">LastName</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Country</th>
                    <th class="text-center">City</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Job</th>
                    <th class="text-center">Actions</th>
                </tr>
                <tr *ngFor="let client of clients">
                    <td class="p-2 text-center">{{client.id}}</td>
                    <td class="p-2 text-center">{{client.firstname}}</td>
                    <td class="p-2 text-center">{{client.lastname}}</td>
                    <td class="p-2 text-center">{{client.email}}</td>
                    <td class="p-2 text-center">{{client.pays}}</td>
                    <td class="p-2 text-center">{{client.ville}}</td>
                    <td class="p-2 text-center">{{client.phone}}</td>
                    <td class="p-2 text-center">{{client.job}}</td>
                    <td class="text-center">
                        <i class="bi bi-pencil-square p-2" routerLink="/admin/clients/{{client.id}}"></i>
                        <i class="bi bi-trash p-2" (click)="handleDelete(client.id)"></i>
                    </td>
                </tr>
            </table>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Ajouter un client</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>
                    <div class="modal-body">
                      <form (submit)="handleSubmit()"  [formGroup]="formClient" >
                        <div class="mb-3">
                            <label for="firstname">Firstname</label>
                            <input type="text" id="firstname" class="form-control" name="firstname" formControlName="firstname" >
                        </div>
                        <div class="mb-3">
                            <label for="lastname">Lastname</label>
                            <input type="text" id="lastname" class="form-control" name="lastname" formControlName="lastname" >
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control" name="email" formControlName="email" >
                        </div>
                        <div class="mb-3">
                            <label for="country">Pays</label>
                            <input type="pays" id="pays" class="form-control" name="pays" formControlName="pays" >
                        </div>
                        <div class="mb-3">
                            <label for="city">Ville</label>
                            <input type="ville" id="ville" class="form-control" name="ville" formControlName="ville" >
                        </div>
                        <div class="mb-3">
                            <label for="phone">Téléphone</label>
                            <input type="phone" id="phone" class="form-control" name="phone" formControlName="phone" >
                        </div>
                        <div class="mb-3">
                            <label for="job">Profession</label>
                            <input type="job" id="job" class="form-control" name="job" formControlName="job" >
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-danger">Annuler</button>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="editleModal" tabindex="-1" aria-labelledby="editleModal" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modifier un client</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
