.home-content p{
    color: orange;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
}
.card1{
    height: 150px !important;
    background: green;
    position: relative;
}
.card2{
    height: 150px !important;
    background: #743ae1;;
    position: relative;
}
.card3{
    height: 150px !important;
    background: orange;
    position: relative;
}

.cards p{
    color: white !important;
}
.cards i{
    position: absolute !important;
    right: 10%;
    font-size: 1.7rem;
    top: 70%;
    color: white;
}
.cards .chiffre{
    font-size: 1.8rem !important;
    position: absolute;
    left: 50%;
}

/******** CHARTS ******/
.charts .doug{
    height: 350px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.charts .line{
    height: 350px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.charts .bar{
    height: 350px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

