<div class="home-content p-2">
    <p>Tableau de bord</p>
    <div class="charts row justify-content-around mx-0 ">
        <div class="col-md-3 pie">
            <p class="titre-cert">Certifications</p>
            <p class="chiffre">1</p>
            <i class="bi bi-people-fill"></i>
        </div>
        <div class="col-md-3 line">
            <p class="titre-cli"> Clients</p>
            <p class="chiffre">3</p>
            <i class="bi bi-people-fill"></i>
        </div>
        <div class="col-md-3 bar">
            <p class="titre-for">Formations</p>
            <p class="chiffre">9</p>
            <i class="bi bi-stack"></i>
        </div>
    </div>
</div>
