<div class="row mx-0 mt-2">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header text-center bg-success text-white fs-4">
                Ajouter une formation
            </div>
            <div class="card-body">
                <form [formGroup]="formationForm" (submit)="handleSubmit()">
                    <div class="mb-3">
                        <input type="text" name="" id="" placeholder="Titre de la formation" class="form-control" formControlName="libelle">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="" id="" placeholder="Tarif" class="form-control" formControlName="lieux">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="" id="" placeholder="Lieu" class="form-control" formControlName="tarif">
                    </div>
                   <!--<div class="mb-3">
                        <input type="file" name="" id=""  class="form-control">
                    </div>--> 
                    <div class="mb-3">
                       <textarea name="" id="" cols="30" rows="10" placeholder="Description" class="form-control" formControlName="description"></textarea>
                    </div>
                    <div class="button d-flex justify-content-end">
                        <button class="btn btn-outline-danger me-1">Annuler</button>
                        <button type="submit" class="btn btn-outline-info">
                            Ajouter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>