<div class="row">
    <p>Modifier </p>
    <div class="col-md-6 offset-md-3">
        <form   [formGroup]="editForm" >
            <div class="mb-3">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" class="form-control" name="firstname" formControlName="firstname" >
            </div>
            <div class="mb-3">
                <label for="lastname">Lastname</label>
                <input type="text" id="lastname" class="form-control" name="lastname" formControlName="lastname" >
            </div>
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" name="email" formControlName="email" >
            </div>
            <div class="mb-3">
                <label for="country">Pays</label>
                <input type="pays" id="pays" class="form-control" name="pays" formControlName="pays" >
            </div>
            <div class="mb-3">
                <label for="city">Ville</label>
                <input type="ville" id="ville" class="form-control" name="ville" formControlName="ville" >
            </div>
            <div class="mb-3">
                <label for="phone">Téléphone</label>
                <input type="phone" id="phone" class="form-control" name="phone" formControlName="phone" >
            </div>
            <div class="mb-3">
                <label for="job">Profession</label>
                <input type="job" id="job" class="form-control" name="job" formControlName="job" >
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
              </div>
          </form>
    </div>
</div>
